@charset "UTF-8";
/* 노트북 */
/* 테블릿 */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #050609;
}

.hide {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@keyframes introCircleGreen {
  0% {
    left: 0;
    bottom: 10vw;
  }
  20% {
    left: -10vw;
    bottom: 0;
  }
  40% {
    left: 0;
    bottom: -5vw;
  }
  60% {
    left: 10vw;
    bottom: -10vw;
  }
  80% {
    left: 5vw;
    bottom: 0;
  }
  100% {
    left: 0;
    bottom: 10vw;
  }
}
@keyframes introCirclePink {
  0% {
    left: 50vw;
    bottom: 1vw;
  }
  20% {
    left: 30vw;
    bottom: -5vw;
  }
  40% {
    left: 20vw;
    bottom: -10vw;
  }
  60% {
    left: 0;
    bottom: 0;
  }
  80% {
    left: 30vw;
    bottom: -5vw;
  }
  100% {
    left: 50vw;
    bottom: 1vw;
  }
}
@keyframes introCirclePurple {
  0% {
    right: -10vw;
    bottom: -10vw;
  }
  20% {
    right: -10vw;
    bottom: 0;
  }
  40% {
    right: 0;
    bottom: 10vw;
  }
  60% {
    right: 10vw;
    bottom: 0;
  }
  80% {
    right: 0;
    bottom: -10vw;
  }
  100% {
    right: -10vw;
    bottom: -10vw;
  }
}
@keyframes flowRolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animateCursor {
  0% {
    width: 12rem;
    height: 12rem;
    opacity: 1;
  }
  50% {
    width: 9rem;
    height: 9rem;
    opacity: 0.5;
  }
  100% {
    width: 12rem;
    height: 12rem;
    opacity: 1;
  }
}
@keyframes cursorTyping {
  0% {
    border-right: 1px solid transparent;
  }
  50% {
    border-right: 1px solid #000;
  }
  100% {
    border-right: 1px solid transparent;
  }
}
.wrapper .top-btn {
  position: fixed;
  bottom: 7rem;
  right: 10rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: url(../images/icon/ic_arrow_top.png) no-repeat center #ffffff;
  filter: drop-shadow(0px 7px 16px rgba(0, 0, 0, 0.18));
  cursor: pointer;
  z-index: 999;
  display: none;
}
.wrapper main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wrapper main section {
  position: relative;
  width: 100%;
  height: 100vh;
}
.wrapper main section:not(.intro) {
  padding-top: calc(6.15vw + 4rem);
}
.wrapper main section .inner {
  width: 100%;
  height: 100%;
}
.wrapper main section .inner .info-wrap strong {
  font-family: "LGEIHeadline";
  font-size: clamp(4rem, 4.2vw, 8rem);
  font-weight: 800;
  letter-spacing: -0.8px;
}
.wrapper main section .inner .info-wrap p {
  margin: 1.2rem 0 4rem;
  font-size: clamp(1.4rem, 1.1vw, 2rem);
  letter-spacing: -0.2px;
  white-space: nowrap;
}
.wrapper main section .inner .info-wrap .use-btn {
  width: clamp(13rem, 9.4vw, 18rem);
  height: clamp(4.5rem, 3.2vw, 6rem);
  padding: 0;
  border: none;
  border-radius: 0.8rem;
  font-family: "Pretendard";
  font-size: clamp(14px, 1.1vw, 2rem);
  font-weight: 700;
  letter-spacing: -0.12px;
  color: #ffffff;
  background: #050609;
  transition: background 0.25s;
}
.wrapper main section .inner .info-wrap .use-btn:hover {
  background: #4E4F4F;
}
.wrapper main section .inner .info-wrap.white {
  text-align: left;
}
.wrapper main section .inner .info-wrap.white strong {
  color: #ffffff;
}
.wrapper main section .inner .info-wrap.white p {
  color: #ffffff;
}
.wrapper main section .inner .info-wrap.white .use-btn {
  color: #050609;
  background: #ffffff;
}
.wrapper main section .inner .info-wrap.white .use-btn:hover {
  background: #F6F6F6;
}
.wrapper main section.intro {
  padding-top: 2.9rem;
  overflow: hidden;
}
.wrapper main section.intro .circle-bg {
  position: absolute;
  border-radius: 50%;
}
.wrapper main section.intro .circle-bg.green {
  left: 0;
  bottom: 10vw;
  width: 35vw;
  height: 41vw;
  background: rgba(38, 172, 158, 0.7);
  filter: blur(200px);
  z-index: -2;
  animation: introCircleGreen 5s infinite linear;
  will-change: right, bottom;
}
.wrapper main section.intro .circle-bg.pink {
  left: 40vw;
  bottom: 1vw;
  width: 41vw;
  height: 41vw;
  background: linear-gradient(180deg, #FFD8FC 0%, #FF9559 100%);
  filter: blur(200px);
  z-index: -1;
  animation: introCirclePink 5s infinite linear;
  will-change: right, bottom;
}
.wrapper main section.intro .circle-bg.purple {
  right: -10vw;
  bottom: -10vw;
  width: 35vw;
  height: 35vw;
  background: rgba(102, 36, 217, 0.7);
  filter: blur(200px);
  z-index: -2;
  animation: introCirclePurple 5s infinite linear;
  will-change: right, bottom;
}
.wrapper main section.intro .login-wrap {
  width: 89.5vw;
  margin: 0 auto;
  padding: 0.83vw 2.1vw;
  border-radius: 1.05rem;
  background: #ffffff;
  box-shadow: 0px 15px 38px 10px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.wrapper main section.intro .login-wrap h1 a {
  width: 4.53vw;
}
.wrapper main section.intro .login-wrap h1 a img {
  width: 100%;
}
.wrapper main section.intro .login-wrap .user-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.wrapper main section.intro .login-wrap .user-area .btn-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.wrapper main section.intro .login-wrap .user-area .btn-wrap button {
  font-family: "Pretendard";
  width: 6.3vw;
  height: 2.5vw;
  font-size: clamp(1.2rem, 1.05vw, 2rem);
  border-radius: 0.8rem;
  transition: background 0.25s;
}
.wrapper main section.intro .login-wrap .user-area .btn-wrap button.login-btn {
  font-weight: 800;
  color: #6624D9;
  border: 1px solid #6624D9;
  background: #ffffff;
}
.wrapper main section.intro .login-wrap .user-area .btn-wrap button.login-btn:hover {
  color: #8450E0;
  border-color: #8450E0;
}
.wrapper main section.intro .login-wrap .user-area .btn-wrap button.login-btn:active {
  color: #3D1682;
  border-color: #3D1682;
}
.wrapper main section.intro .login-wrap .user-area .btn-wrap button.inquiry-btn {
  font-weight: 700;
  color: #ffffff;
  background: #6624D9;
  letter-spacing: -0.12px;
}
.wrapper main section.intro .login-wrap .user-area .btn-wrap button.inquiry-btn:hover {
  background: #8450E0;
}
.wrapper main section.intro .login-wrap .user-area .btn-wrap button.inquiry-btn:active {
  background: #3D1682;
}
.wrapper main section.intro .login-wrap .user-area .select-box {
  position: relative;
  width: 5.25vw;
  height: 2.5vw;
  z-index: 10;
  cursor: pointer;
}
.wrapper main section.intro .login-wrap .user-area .select-box .select-item {
  width: 100%;
  height: 100%;
  padding: 0;
  font-family: "Pretendard";
  color: #68696A;
  font-weight: 700;
  font-size: clamp(1.2rem, 1.05vw, 2rem);
  border: none;
  border-radius: 0.8rem;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  transition: background 0.25s;
}
.wrapper main section.intro .login-wrap .user-area .select-box .select-item a {
  color: #68696A;
}
.wrapper main section.intro .login-wrap .user-area .select-box .select-item::after {
  content: "";
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background: url(../images/icon/ic_arrow.png) no-repeat center/contain;
  transition: all 0.25s;
}
.wrapper main section.intro .login-wrap .user-area .select-box .select-item.on::after {
  transform: rotate(180deg);
}
.wrapper main section.intro .login-wrap .user-area .select-box .select-item:hover {
  background: #F6F6F6;
}
.wrapper main section.intro .login-wrap .user-area .select-box .select-item:active {
  background: #E6E6E6;
}
.wrapper main section.intro .login-wrap .user-area .select-box .option-list {
  position: absolute;
  top: 5.2rem;
  width: 100%;
  border-radius: 0.8rem;
  box-shadow: 0px 31px 38px 0px rgba(0, 0, 0, 0.07);
  background: #ffffff;
  display: none;
}
.wrapper main section.intro .login-wrap .user-area .select-box .option-list li {
  width: 100%;
  height: 2.5vw;
  border-radius: 0.8rem;
}
.wrapper main section.intro .login-wrap .user-area .select-box .option-list li a {
  width: 100%;
  height: 100%;
  font-size: clamp(1.2rem, 1.05vw, 2rem);
  font-weight: 500;
  color: #68696A;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  transition: all 0.25s;
}
.wrapper main section.intro .login-wrap .user-area .select-box .option-list li:hover a {
  background: #F6F6F6;
}
.wrapper main section.intro .login-wrap .user-area .select-box .option-list li:active a {
  background: #E6E6E6;
}
.wrapper main section.intro .con-wrap {
  width: 100%;
  height: calc(100% - 4.3vw);
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper main section.intro .con-wrap h2 {
  font-family: "LGEIHeadline";
  font-weight: 800;
  font-size: clamp(12rem, 7.8vw, 15rem);
  letter-spacing: -1.5px;
}
.wrapper main section.intro .con-wrap p {
  font-size: clamp(1.4rem, 1.1vw, 2rem);
  text-align: center;
  line-height: 1.4;
  padding-top: 0.63%;
  padding-bottom: 2.4%;
}
.wrapper main section.intro .con-wrap .bg-txt {
  width: clamp(20rem, 40.6vw, 78rem);
}
.wrapper main section.intro .con-wrap .bg-txt img {
  width: 100%;
}
.wrapper main section.ai-quick-tools {
  background: url(../images/common/ai-quick-tools-bg.png) no-repeat center/cover;
}
.wrapper main section.ai-quick-tools .inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: clamp(4rem, 4.2vw, 7.9rem);
  overflow: hidden;
}
.wrapper main section.ai-quick-tools .inner .info-wrap {
  text-align: left;
}
.wrapper main section.ai-quick-tools .inner .con-wrap {
  position: relative;
  height: clamp(32rem, 31.6vw, 60.7rem);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.wrapper main section.ai-quick-tools .inner .con-wrap .animate-cursor {
  position: absolute;
  top: 0rem;
  left: 12rem;
  width: 12rem;
  height: 12rem;
  background: url(../images/icon/ic-cursors.png) no-repeat center/contain;
  z-index: 20;
}
.wrapper main section.ai-quick-tools .inner .con-wrap .animate-cursor.click-motion {
  animation: animateCursor 0.3s;
}
.wrapper main section.ai-quick-tools .inner .con-wrap .left {
  position: relative;
  width: clamp(17rem, 17vw, 32.6rem);
  height: 100%;
  border-radius: 1.2rem;
  overflow: hidden;
}
.wrapper main section.ai-quick-tools .inner .con-wrap .left .item {
  width: 100%;
  height: 100%;
  background: url(../images/common/ai_quick_tools_left.png) no-repeat center/cover;
}
.wrapper main section.ai-quick-tools .inner .con-wrap .left.motion .item {
  background: url(../images/common/left_remove.png) no-repeat center/cover;
}
.wrapper main section.ai-quick-tools .inner .con-wrap .right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.2rem;
}
.wrapper main section.ai-quick-tools .inner .con-wrap .right .right-top {
  position: relative;
  width: clamp(39rem, 39vw, 74.7rem);
  height: 50%;
  padding: 0 1rem;
  border-radius: 1.2rem;
  background: url(../images/common/ai_quick_tools_top.png) no-repeat center/cover;
}
.wrapper main section.ai-quick-tools .inner .con-wrap .right .right-top .drag-wrap {
  position: absolute;
  top: 1vw;
  left: 43%;
  width: 0;
  height: 0;
  margin-bottom: 1rem;
  border: 0.6vw dashed #6624D9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.wrapper main section.ai-quick-tools .inner .con-wrap .right .right-top .drag-wrap img {
  width: clamp(20rem, 21vw, 39.9rem);
  display: none;
}
.wrapper main section.ai-quick-tools .inner .con-wrap .right .right-top .drag-wrap img.on {
  display: block;
}
.wrapper main section.ai-quick-tools .inner .con-wrap .right .right-top .drag-wrap.on {
  opacity: 1;
}
.wrapper main section.ai-quick-tools .inner .con-wrap .right .right-top .typing-wrap {
  position: absolute;
  bottom: 1vw;
  left: 43%;
  width: clamp(20rem, 21.2vw, 40.6rem);
  height: clamp(5rem, 5.5vw, 10.5rem);
  padding: 0 1.8vw;
  font-size: 3.2rem;
  font-weight: 700;
  color: #14072B;
  border: 2px solid #fff;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.wrapper main section.ai-quick-tools .inner .con-wrap .right .right-top .typing-wrap.on {
  opacity: 1;
  z-index: 10;
}
.wrapper main section.ai-quick-tools .inner .con-wrap .right .right-top .typing-wrap .typing-txt {
  display: none;
}
.wrapper main section.ai-quick-tools .inner .con-wrap .right .right-top .typing-wrap .typing {
  font-family: "LGEIHeadline";
  font-size: clamp(1.2rem, 1.6vw, 3.2rem);
  font-weight: 700;
  letter-spacing: -0.96px;
  display: flex;
  align-items: flex-start;
  animation: cursorTyping 0.7s infinite;
}
.wrapper main section.ai-quick-tools .inner .con-wrap .right .right-top .typing-wrap button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: clamp(1rem, 1.8vw, 3.6rem);
  width: clamp(2rem, 3.2vw, 6rem);
  height: clamp(2rem, 3.2vw, 6rem);
  border-radius: 50%;
  border: none;
  background: url(../images/icon/ic_arrow_up.png) no-repeat center/contain #6624D9;
}
.wrapper main section.ai-quick-tools .inner .con-wrap .right .right-top #realDragArea {
  position: absolute;
  top: 0;
  right: 0;
}
.wrapper main section.ai-quick-tools .inner .con-wrap .right .right-bottom {
  width: clamp(39rem, 39vw, 74.7rem);
  height: 50%;
}
.wrapper main section.ai-quick-tools .inner .con-wrap .right .right-bottom .hide-bg {
  position: relative;
  width: 100%;
  height: 100%;
}
.wrapper main section.ai-quick-tools .inner .con-wrap .right .right-bottom .hide-bg .show-bg {
  position: relative;
  width: 60%;
  height: 90%;
  background: url(../images/common/ai_quick_tools_bottom.png) no-repeat top left;
  border-radius: 0 0 12px 0;
  border-right: 8px solid #6624D9;
  border-bottom: 8px solid #6624D9;
}
.wrapper main section.ai-quick-tools .inner .con-wrap .right .right-bottom .hide-bg .show-bg-on {
  position: absolute;
  top: -5%;
  left: -5%;
  width: 70%;
  height: 100%;
  border-radius: 0 0 12px 0;
}
.wrapper main section.ai-quick-tools .inner .con-wrap .right .right-bottom .hide-bg .show-bg-on .circle {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
  border: 8px solid #6624D9;
}
.wrapper main section.ai-quick-tools .inner .con-wrap .right .right-bottom .hide-bg .show-bg-on .circle.top {
  right: 1.2vw;
  top: 0;
}
.wrapper main section.ai-quick-tools .inner .con-wrap .right .right-bottom .hide-bg .show-bg-on .circle.bottom-right {
  right: 1.2vw;
  bottom: 4px;
}
.wrapper main section.ai-quick-tools .inner .con-wrap .right .right-bottom .hide-bg .show-bg-on .circle.bottom-left {
  left: 1.2vw;
  bottom: 4px;
}
.wrapper main section.ai-quick-tools .inner .con-wrap .carrier {
  position: absolute;
  top: 17%;
  left: 14%;
  width: clamp(24rem, 23.6vw, 45.4rem);
  z-index: 12;
}
.wrapper main section.ai-quick-tools .inner .con-wrap .carrier img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.wrapper main section.digital-content-creator .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper main section.digital-content-creator .inner .info-wrap {
  text-align: center;
}
.wrapper main section.digital-content-creator .inner .con-wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.1rem;
  padding: 4.17vw;
}
.wrapper main section.digital-content-creator .inner .con-wrap .animate-cursor {
  position: absolute;
  left: 0;
  bottom: -10%;
  width: 12rem;
  height: 12rem;
  background: url(../images/icon/ic-cursors.png) no-repeat center/contain;
  z-index: 20;
}
.wrapper main section.digital-content-creator .inner .con-wrap .animate-cursor.click-motion {
  animation: animateCursor 0.3s;
}
.wrapper main section.digital-content-creator .inner .con-wrap .empty {
  position: relative;
  width: 20.8vw;
  height: 18.2vw;
  font-size: 8rem;
  font-weight: 700;
  color: #9B9C9D;
  border-radius: 1.4rem;
  border: 6px dashed #9B9C9D;
  background: #F6F6F6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wrapper main section.digital-content-creator .inner .con-wrap .empty .empty-car {
  position: absolute;
  bottom: -40%;
  left: -100%;
  width: 20.8vw;
  height: 18.2vw;
  border-radius: 1.4rem;
  background: #FF9559;
}
.wrapper main section.digital-content-creator .inner .con-wrap .empty .empty-car img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.wrapper main section.digital-content-creator .inner .con-wrap .typing-wrap {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: clamp(20rem, 25.2vw, 48.3rem);
  height: clamp(5rem, 7.8vw, 15rem);
  padding: 1.72vw 1.88vw;
  border-radius: 1.4rem;
  border: 2px solid rgba(191, 191, 191, 0.94);
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6px);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.9vw;
}
.wrapper main section.digital-content-creator .inner .con-wrap .typing-wrap.on {
  opacity: 1;
  z-index: 10;
}
.wrapper main section.digital-content-creator .inner .con-wrap .typing-wrap .typing-txt, .wrapper main section.digital-content-creator .inner .con-wrap .typing-wrap .typing-txt02 {
  display: none;
}
.wrapper main section.digital-content-creator .inner .con-wrap .typing-wrap .typing, .wrapper main section.digital-content-creator .inner .con-wrap .typing-wrap .typing02 {
  font-size: clamp(1.2rem, 1.6vw, 3.2rem);
  font-weight: 700;
  color: #050609;
  letter-spacing: -0.96px;
  line-height: clamp(1.2rem, 1.6vw, 3.2rem);
  display: inline-block;
}
.wrapper main section.digital-content-creator .inner .con-wrap .typing-wrap .typing.on, .wrapper main section.digital-content-creator .inner .con-wrap .typing-wrap .typing02.on {
  animation: cursorTyping 0.7s infinite;
}
.wrapper main section.digital-content-creator .inner .con-wrap .typing-wrap button {
  position: absolute;
  top: 50%;
  right: 2.4rem;
  transform: translateY(-50%);
  width: 4.95vw;
  height: 4.95vw;
  border-radius: 50%;
  border: none;
  background: url(../images/icon/ic_arrow_diagonal.png) no-repeat center/contain #6624D9;
}
.wrapper main section.digital-content-creator .inner .con-wrap .flower-car {
  position: relative;
  width: 32.95vw;
  height: 18.2vw;
  display: none;
}
.wrapper main section.digital-content-creator .inner .con-wrap .flower-car.on {
  display: block;
}
.wrapper main section.digital-content-creator .inner .con-wrap .flower-car .drag-wrap {
  position: absolute;
  top: 6vw;
  left: 42%;
  width: 0;
  height: 0;
  border: 0.6vw dashed #6624D9;
  z-index: 10;
  display: none;
}
.wrapper main section.digital-content-creator .inner .con-wrap .flower-car .drag-wrap.on {
  display: block;
}
.wrapper main section.digital-content-creator .inner .con-wrap .flower-car img {
  position: absolute;
  top: 0;
  left: 0;
  animation: all 1s;
}
.wrapper main section.digital-content-creator .inner .con-wrap .flower-car img.flower-img {
  width: 100%;
  opacity: 1;
}
.wrapper main section.digital-content-creator .inner .con-wrap .flower-car img.bag-img {
  width: 100%;
  opacity: 0;
}
.wrapper main section.digital-content-creator .inner .con-wrap .flower-car .bag-typing-wrap {
  position: absolute;
  right: 2vw;
  bottom: -2vw;
  width: clamp(10rem, 20.8vw, 39.9rem);
  height: clamp(2rem, 4.12vw, 7.9rem);
  border-radius: 0.8vw;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-shadow: 0px 2px 6px 0px rgba(184, 191, 206, 0.4);
  opacity: 0;
}
.wrapper main section.digital-content-creator .inner .con-wrap .flower-car .bag-typing-wrap.on {
  opacity: 1;
}
.wrapper main section.digital-content-creator .inner .con-wrap .flower-car .bag-typing-wrap .typing-txt {
  display: none;
}
.wrapper main section.digital-content-creator .inner .con-wrap .flower-car .bag-typing-wrap .txt-box {
  width: clamp(10rem, 12.97vw, 24.7rem);
  height: clamp(1rem, 2.87vw, 5.5rem);
  border-radius: 0.5vw;
  border: 1px solid #E6E6E6;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.83vw;
}
.wrapper main section.digital-content-creator .inner .con-wrap .flower-car .bag-typing-wrap .txt-box .typing {
  font-family: "LGEIHeadline";
  font-size: clamp(1.4rem, 1.1vw, 2rem);
  font-weight: 700;
  display: inline-block;
  animation: cursorTyping 0.7s infinite;
}
.wrapper main section.digital-content-creator .inner .con-wrap .flower-car .bag-typing-wrap button {
  width: clamp(5rem, 6.25vw, 12rem);
  height: clamp(1rem, 2.87vw, 5.5rem);
  color: #ffffff;
  font-size: clamp(1.4rem, 1.1vw, 2rem);
  letter-spacing: -0.12px;
  border-radius: 8px;
  border: none;
  background: #3D1682;
}
.wrapper main section.ads-creator {
  background: #F2F2F2;
}
.wrapper main section.ads-creator .inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.wrapper main section.ads-creator .inner .info-wrap {
  text-align: center;
}
.wrapper main section.ads-creator .inner .flow-banner {
  position: relative;
  width: 100%;
  height: calc(100% - 23.2rem);
  display: flex;
  align-items: flex-end;
  background: transparent;
}
.wrapper main section.ads-creator .inner .flow-banner .list {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.wrapper main section.ads-creator .inner .flow-banner .list li {
  white-space: nowrap;
  max-height: 100%;
  padding: 0;
  margin: 0 0.34vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.wrapper main section.ads-creator .inner .flow-banner .list li img {
  height: 100%;
}
.wrapper main section.ads-creator .inner .flow-banner .list li.flow-item01 {
  height: 100%;
}
.wrapper main section.ads-creator .inner .flow-banner .list li.flow-item02 {
  height: 52.9%;
}
.wrapper main section.ads-creator .inner .flow-banner .list li.flow-item03 {
  height: 82.4%;
}
.wrapper main section.ads-creator .inner .flow-banner .list li.flow-item04 {
  height: 41.5%;
}
.wrapper main section.ads-creator .inner .flow-banner .list li.flow-item05 {
  height: 100%;
}
.wrapper main section.ads-creator .inner .flow-banner .list li.flow-item06 {
  height: 53%;
}
.wrapper main section.ads-creator .inner .flow-banner .list li.flow-item07 {
  height: 100%;
}
.wrapper main section.ads-creator .inner .flow-banner .list li.flow-item08 {
  height: 41.5%;
}
.wrapper main section.ads-creator .inner .flow-banner .list li.flow-item09 {
  height: 82.4%;
}
.wrapper main section.re-generator {
  background: #050609;
}
.wrapper main section.re-generator .inner {
  width: calc(100% - 2rem);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.wrapper main section.re-generator .inner .con-wrap {
  position: relative;
  width: calc(100% - 2rem);
  max-width: 80.77%;
  height: calc(100% - 2rem);
  max-height: 93.53%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  border-radius: 2rem;
  overflow: hidden;
}
.wrapper main section.re-generator .inner .con-wrap .left {
  width: 50%;
  height: 100%;
  background: url(../images/common/generator_left_bg.png) no-repeat right;
}
.wrapper main section.re-generator .inner .con-wrap .left .seed-image {
  width: 9.4vw;
  height: 3.13vw;
  background: url(../images/common/seed_image_tag.png) no-repeat center/contain;
  margin: 2.4rem;
}
.wrapper main section.re-generator .inner .con-wrap .right {
  position: relative;
  width: 50%;
  height: 100%;
  background: url(../images/common/generator_bg01.png) no-repeat left 62%;
}
.wrapper main section.re-generator .inner .con-wrap .right .generator {
  position: absolute;
  top: -100%;
  left: 0;
  transform: translateY(-50%);
}
.wrapper main section.re-generator .inner .con-wrap .info-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.wrapper main section.campaign-optimizer .inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 10rem;
}
.wrapper main section.campaign-optimizer .inner .info-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  padding-top: 9.6rem;
}
.wrapper main section.campaign-optimizer .inner .info-wrap p {
  margin: 2.4rem 0 4rem;
  line-height: 1.4;
}
.wrapper main section.campaign-optimizer .inner > .con-wrap {
  width: 108.8rem;
  height: 58.7rem;
  background: url(../images/common/campaign_optimizer_bg.png) no-repeat center/contain;
}
.wrapper main section.campaign-optimizer .inner > .con-wrap .graph {
  position: absolute;
  min-width: 27.2rem;
  min-height: 22.7rem;
  padding: 1.8rem 2.8rem 3.2rem 1.5rem;
  border-radius: 0.47rem;
  background: #ffffff;
  box-shadow: 40px 31px 38px 0px rgba(0, 0, 0, 0.15);
}
.wrapper main section.campaign-optimizer .inner > .con-wrap .graph > .tit {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: -0.078px;
  margin-bottom: 2.9rem;
  color: #050609;
}
.wrapper main section.campaign-optimizer .inner > .con-wrap .graph > .con-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.wrapper main section.campaign-optimizer .inner > .con-wrap .graph > .con-wrap .num-wrap ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
.wrapper main section.campaign-optimizer .inner > .con-wrap .graph > .con-wrap .num-wrap ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.6rem;
}
.wrapper main section.campaign-optimizer .inner > .con-wrap .graph > .con-wrap .num-wrap ul li > span {
  font-size: 0.7rem;
  color: #68696A;
}
.wrapper main section.campaign-optimizer .inner > .con-wrap .graph > .con-wrap .num-wrap ul li strong {
  font-size: 1.4rem;
  font-weight: 500;
}
.wrapper main section.campaign-optimizer .inner > .con-wrap .graph > .con-wrap .num-wrap ul li strong span {
  font-size: 2.4rem;
  font-weight: 800;
}
.wrapper main section.campaign-optimizer .inner > .con-wrap .graph > .con-wrap .num-wrap ul li:first-child > span::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 0.24rem;
  margin-right: 0.35rem;
}
.wrapper main section.campaign-optimizer .inner > .con-wrap .graph > .con-wrap .num-wrap ul li:last-child > span::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 0.24rem;
  margin-right: 0.35rem;
}
.wrapper main section.campaign-optimizer .inner > .con-wrap .graph > .con-wrap .chart-wrap {
  position: relative;
  width: 13.3rem;
  height: 13.3rem;
}
.wrapper main section.campaign-optimizer .inner > .con-wrap .graph > .con-wrap .chart-wrap span {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: -0.078px;
}
.wrapper main section.campaign-optimizer .inner > .con-wrap .graph.type01 {
  left: -11rem;
  bottom: 1.3rem;
}
.wrapper main section.campaign-optimizer .inner > .con-wrap .graph.type01 > .con-wrap .num-wrap ul li:first-child > span::before {
  background: #FF9559;
}
.wrapper main section.campaign-optimizer .inner > .con-wrap .graph.type01 > .con-wrap .num-wrap ul li:last-child > span::before {
  background: #FFD56A;
}
.wrapper main section.campaign-optimizer .inner > .con-wrap .graph.type02 {
  left: 4.5rem;
  bottom: 6.5rem;
}
.wrapper main section.campaign-optimizer .inner > .con-wrap .graph.type02 > .con-wrap .num-wrap ul li:first-child > span::before {
  background: #775FFC;
}
.wrapper main section.campaign-optimizer .inner > .con-wrap .graph.type02 > .con-wrap .num-wrap ul li:last-child > span::before {
  background: #6AD2FF;
}
.wrapper main section.campaign-optimizer .inner > .con-wrap .total {
  position: absolute;
  right: -6rem;
  top: 11.7rem;
  width: 30rem;
  height: 17.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.8rem 3rem 2rem 2.8rem;
  background: #ffffff;
  border-radius: 0.8rem;
  box-shadow: 40px 31px 38px 0px rgba(0, 0, 0, 0.15);
}
.wrapper main section.campaign-optimizer .inner > .con-wrap .total .tit {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: -0.132px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 4.1rem;
}
.wrapper main section.campaign-optimizer .inner > .con-wrap .total .tit::before {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: url(../images/icon/ic_checkbox.png) no-repeat center/contain;
}
.wrapper main section.campaign-optimizer .inner > .con-wrap .total .count {
  text-align: right;
}
.wrapper main section.campaign-optimizer .inner > .con-wrap .total .count strong {
  font-size: 4rem;
  font-weight: 500;
}
.wrapper main section.campaign-optimizer .inner > .con-wrap .total .count strong span {
  font-size: 6rem;
  font-weight: 800;
}
.wrapper .apply {
  background: #6624D9;
}
.wrapper .apply .inner {
  padding: 0.8rem 0 0.8rem 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.wrapper .apply .inner .txt-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
}
.wrapper .apply .inner .txt-wrap .tit {
  font-size: 1.56vw;
  color: #E9DDFF;
  letter-spacing: -0.3px;
}
.wrapper .apply .inner .txt-wrap .tit strong {
  color: #F1E9FF;
  font-weight: 700;
}
.wrapper .apply .inner .txt-wrap .contact {
  color: #ffffff;
  font-size: 1.05vw;
  font-weight: 500;
  letter-spacing: -0.2px;
}
.wrapper .apply .inner .txt-wrap .contact a {
  color: #BDFF00;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.wrapper .apply .inner .img-wrap {
  width: 9.5vw;
  height: 6.82vw;
}
.wrapper .apply .inner .img-wrap img {
  width: 100%;
}

footer {
  background: #343435;
}
footer .inner {
  padding: 2.09vw 5.25vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .inner .left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4.3rem;
}
footer .inner .left .logo-wrap {
  width: 5.21vw;
  height: 3.13vw;
}
footer .inner .left .logo-wrap img {
  width: 100%;
}
footer .inner .left .info-wrap ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 21px;
  margin-bottom: 0.8rem;
}
footer .inner .left .info-wrap ul li {
  position: relative;
  color: #ffffff;
  font-weight: 700;
  font-size: clamp(1.4rem, 0.84vw, 1.6rem);
  letter-spacing: -0.16px;
}
footer .inner .left .info-wrap ul li:first-child::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 14px;
  background: #9B9C9D;
  margin-left: 20px;
}
footer .inner .left .info-wrap p {
  color: #ffffff;
  font-size: clamp(1.4rem, 0.84vw, 1.6rem);
  letter-spacing: -0.16px;
}
footer .inner .right .contact {
  padding: 1.2rem 2rem;
  border-radius: 1.2rem;
  background: rgba(255, 255, 255, 0.1);
}
footer .inner .right .contact span {
  color: #ffffff;
  font-size: clamp(1.4rem, 0.84vw, 1.6rem);
  letter-spacing: -0.16px;
  opacity: 0.6;
}
footer .inner .right .contact p {
  margin-top: 0.6rem;
  color: #ffffff;
  font-size: clamp(1.4rem, 0.84vw, 1.6rem);
}
footer .inner .right .contact p a {
  color: #ffffff;
  font-size: clamp(1.4rem, 1.1vw, 2rem);
  font-weight: 700;
  letter-spacing: -0.2px;
}

.menu-list {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%) !important;
  height: 6.15vw;
  z-index: 888;
}
.menu-list ul {
  padding: 0 1.95vw;
  height: 100%;
  border-radius: 2rem;
  backdrop-filter: blur(5px);
  background: rgba(5, 6, 9, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu-list ul li {
  position: relative;
}
.menu-list ul li.on a {
  opacity: 1;
}
.menu-list ul li a {
  font-family: "LGEIHeadline";
  color: #ffffff;
  font-size: clamp(1.2rem, 0.84vw, 1.6rem);
  font-weight: 600;
  text-align: center;
  padding: 0 2.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}
.menu-list ul li a img {
  width: 2.71vw;
}
.menu-list ul li a span {
  white-space: nowrap;
}
.menu-list ul li:not(:last-child) a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 3.1vw;
  background: rgba(255, 255, 255, 0.3);
}

/* 노트북 */
/* 테블릿 */