$black : #050609;
$white : #ffffff;
$purple: #6624D9;
$gray06: #68696A;
$pretendard : 'Pretendard';
$LGEIHeadline : 'LGEIHeadline';
$LGEIText : 'LGEIText';

@mixin flexbox($direction, $justfy, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justfy;
    align-items: $align;
}

*, *::before, *::after{box-sizing: border-box;}
html{
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
    font-family: $pretendard;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.02em;
    color: $black;
}

.hide{
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

@keyframes introCircleGreen {
    0% {
        left: 0;
        bottom: -10rem;
        width: 54.9rem;
        height: 78.7rem;
    }
    20% {
        left: 10rem;
        bottom: -30rem;
        width: 60rem;
        height: 80rem;
    }
    40% {
        left: -10rem;
        bottom: 0;
        width: 90rem;
        height: 100rem;
    }
    60% {
        left: 15rem;
        bottom: -20rem;
        width: 60rem;
        height: 70rem;
    }
    80% {
        left: -20rem;
        bottom: -30rem;
        width: 80rem;
        height: 90rem;
    }
    100% {
        left: 0;
        bottom: -10rem;
        width: 54.9rem;
        height: 78.7rem;
    }
}

@keyframes introCirclePink {
    0% {
        bottom: 15rem;
        width: 79.1rem;
        height: 77.7rem;
    }
    20% {
        bottom: 20rem;
        width: 60rem;
        height: 100rem;
    }
    40% {
        left: 30%;
        bottom: 15rem;
        width: 65rem;
        height: 80rem;
    }
    60% {
        bottom: 10rem;
        width: 75rem;
        height: 100rem;
    }
    80% {
        left: 40%;
        bottom: 5rem;
        width: 85rem;
        height: 90rem;
    }
    100% {
        bottom: 15rem;
        width: 79.1rem;
        height: 77.7rem;
    }
}

@keyframes introCirclePurple {
    0% {
        right: -30rem;
        bottom: -10rem;
        width: 66.8rem;
        height: 66.8rem;
    }
    20% {
        right: -10rem;
        bottom: -50rem;
        width: 60rem;
        height: 50rem;
    }
    40% {
        right: 0rem;
        bottom: 10rem;
        width: 50rem;
        height: 45rem;
    }
    60% {
        right: 5rem;
        bottom: 10rem;
        width: 65rem;
        height: 60rem;
    }
    80% {
        right: -10rem;
        bottom: 5rem;
        width: 75rem;
        height: 80rem;
    }
    100% {
        right: -30rem;
        bottom: -10rem;
        width: 66.8rem;
        height: 66.8rem;
    }
}

@keyframes flowRolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes animateCursor {
    0% {
        width: 12rem;
        height: 12rem;
        opacity: 1;
    }
    50% {
        width: 9rem;
        height: 9rem;
        opacity: 0.5;
    }
    100% {
        width: 12rem;
        height: 12rem;
        opacity: 1;
    }
}

@keyframes cursorTyping{ 
    0%{
        border-right: 1px solid transparent
    }
    50%{
        border-right: 1px solid #000
    }
    100%{
        border-right: 1px solid transparent
    }
}

@keyframes blink {
    40% {
        opacity:.5;
    }
    80% {
        opacity: 1;
    }
}