@import "responsive";
$black : #050609;
$white : #ffffff;
$purple: #6624D9;
$gray06: #68696A;
$pretendard : 'Pretendard';
$LGEIHeadline : 'LGEIHeadline';
$LGEIText : 'LGEIText';

@mixin flexbox($direction, $justfy, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justfy;
    align-items: $align;
}

*, *::before, *::after{box-sizing: border-box;}
html{
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
    font-family: $pretendard;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.02em;
    color: $black;
}

.hide{
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

// @keyframes introCircleGreen {
//     0% {
//         left: 0;
//         bottom: -10vw;
//     }
//     20% {
//         left: 8vw;
//         bottom: 0vw;
//     }
//     40% {
//         left: 3vw;
//         bottom: 5vw;
//     }
//     60% {
//         left: -5vw;
//         bottom: 15vw;
//     }
//     80% {
//         left: -10vw;
//         bottom: 5vw;
//     }
//     100% {
//         left: 0;
//         bottom: -10vw;
//     }
// }

// @keyframes introCirclePink {
//     0% {
//         left: 34vw;
//         bottom: 6vw;
//     }
//     20% {
//         left: 33vw;
//         bottom: -5vw;
//     }
//     40% {
//         left: 30vw;
//         bottom: 2vw;
//     }
//     60% {
//         left: 37vw;
//         bottom: -10vw;
//     }
//     80% {
//         left: 39vw;
//         bottom: 3vw;
//     }
//     100% {
//         left: 34vw;
//         bottom: 6vw;
//     }
// }

// @keyframes introCirclePurple {
//     0% {
//         right: -10vw;
//         bottom: -10vw;
//     }
//     20% {
//         right: -10vw;
//         bottom: 0vw;
//     }
//     40% {
//         right: -15vw;
//         bottom: 10vw;
//     }
//     60% {
//         right: -12vw;
//         bottom: 5vw;
//     }
//     80% {
//         right: -11vw;
//         bottom: 0vw;
//     }
//     100% {
//         right: -10vw;
//         bottom: -10vw;
//     }
// }

@keyframes introCircleGreen {
    0% {
        left: 0;
        bottom: 10vw;
    }
    20% {
        left: -10vw;
        bottom: 0;
    }
    40% {
        left: 0;
        bottom: -5vw;
    }
    60% {
        left: 10vw;
        bottom: -10vw;
    }
    80% {
        left: 5vw;
        bottom: 0;
    }
    100% {
        left: 0;
        bottom: 10vw;
    }
}

@keyframes introCirclePink {
    0% {
        left: 50vw;
        bottom: 1vw;
    }
    20% {
        left: 30vw;
        bottom: -5vw;
    }
    40% {
        left: 20vw;
        bottom: -10vw;
    }
    60% {
        left: 0;
        bottom: 0;
    }
    80% {
        left: 30vw;
        bottom: -5vw;
    }
    100% {
        left: 50vw;
        bottom: 1vw;
    }
}

@keyframes introCirclePurple {
    0% {
        right: -10vw;
        bottom: -10vw;
    }
    20% {
        right: -10vw;
        bottom: 0;
    }
    40% {
        right: 0;
        bottom: 10vw;
    }
    60% {
        right: 10vw;
        bottom: 0;
    }
    80% {
        right: 0;
        bottom: -10vw;
    }
    100% {
        right: -10vw;
        bottom: -10vw;
    }
}

@keyframes flowRolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes animateCursor {
    0% {
        width: 12rem;
        height: 12rem;
        opacity: 1;
    }
    50% {
        width: 9rem;
        height: 9rem;
        opacity: 0.5;
    }
    100% {
        width: 12rem;
        height: 12rem;
        opacity: 1;
    }
}

@keyframes cursorTyping{ 
    0%{
        border-right: 1px solid transparent
    }
    50%{
        border-right: 1px solid #000
    }
    100%{
        border-right: 1px solid transparent
    }
}

// @keyframes blink {
//     40% {
//         opacity:.5;
//     }
//     80% {
//         opacity: 1;
//     }
// }