.wrapper {
    overflow: hidden;
    .top-btn {
        position: fixed;
        bottom: 7rem;
        right: 10rem;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background: url(/assets/images/icon/ic_arrow_top.png) no-repeat center $white;
        filter: drop-shadow(0px 7px 16px rgba(0, 0, 0, 0.18));
        cursor: pointer;
        z-index: 999;
        display: none;
    }
    main {
        width: 100%;
        height: 100%;
        section {
            position: relative;
            width: 100%;
            height: 100vh;
            &:not(.intro) {
                padding-top: 13.8rem;
            }
            .inner {
                width: 100%;
                height: 100%;
                .move-control {
                    position: absolute;
                    top: 0;
                }
                .info-wrap {
                    strong {
                        font-family: $LGEIHeadline;
                        // font-size: 8rem;
                        font-size: clamp(4rem, 4.2vw, 8rem);
                        font-weight: 800;
                        letter-spacing: -0.8px;
                    }
                    p {
                        margin: 1.2rem 0 4rem;
                        // font-size: 2rem;
                        font-size: clamp(12px, 1.1vw, 2rem);
                        letter-spacing: -0.2px;
                        white-space: nowrap;
                    }
                    .use-btn {
                        // width: 18rem;
                        width: clamp(13rem, 9.4vw, 18rem);
                        // height: 6rem;
                        height: clamp(4.5rem, 3.2vw, 6rem);
                        padding: 0;
                        border: none;
                        border-radius: .8rem;
                        // font-size: 2rem;
                        font-size: clamp(14px, 1.1vw, 2rem);
                        font-weight: 700;
                        letter-spacing: -0.12px;
                        color: $white;
                        background: $black;
                        transition: background .25s;
                        &:hover {
                            background: #4E4F4F;
                        }
                    }
                    &.white {
                        text-align: left;
                        strong {
                            color: $white;
                        }
                        p {
                            color: $white;
                        }
                        .use-btn {
                            color: $black;
                            background: $white;
                            &:hover {
                                background: #F6F6F6;
                            }
                        }
                    }
                }
            }
            &.intro {
                padding-top: 2.9rem;
                overflow: hidden;
                .circle-bg {
                    position: absolute;
                    border-radius: 50%;
                    &.green {
                        left: 0;
                        bottom: -20rem;
                        width: 54.9rem;
                        height: 78.7rem;
                        background: rgba(38, 172, 158, 0.70);
                        filter: blur(200px);
                        z-index: -2;
                        animation: introCircleGreen 10s infinite;
                    }
                    &.pink {
                        left: 40%;
                        bottom: -20rem;
                        width: 79.1rem;
                        height: 77.7rem;
                        background: linear-gradient(180deg, #FFD8FC 0%, #FF9559 100%);
                        filter: blur(200px);
                        z-index: -1;
                        animation: introCirclePink 10s infinite;
                    }
                    &.purple {
                        right: -30rem;
                        bottom: -20rem;
                        width: 66.8rem;
                        height: 66.8rem;
                        background: rgba(102, 36, 217, 0.70);
                        filter: blur(200px);
                        z-index: -2;
                        animation: introCirclePurple 10s infinite;
                    }
                }
                .login-wrap {
                    width: calc(100% - 10rem);
                    max-width: 1720px;
                    margin: 0 auto;
                    padding: 1.6rem 4rem;
                    border-radius: 2rem;
                    background: $white;
                    box-shadow: 0px 15px 38px 10px rgba(0, 0, 0, 0.07);
                    @include flexbox(row, space-between, center);
                    .user-area {
                        @include flexbox(row, center, center);
                        gap: .8rem;
                        .btn-wrap {
                            @include flexbox(row, center, center);
                            gap: .8rem;
                            button {
                                font-family: $pretendard;
                                width: 12rem;
                                height: 4.8rem;
                                font-size: 2rem;
                                border-radius: .8rem;
                                transition: background .25s;
                                &.login-btn {
                                    font-weight: 800;
                                    color: $purple;
                                    border: 1px solid $purple;
                                    background: $white;
                                    &:hover {
                                        color: #8450E0;
                                        border-color: #8450E0;
                                    }
                                    &:active {
                                        color: #3D1682;
                                        border-color: #3D1682;
                                    }
                                }
                                &.inquiry-btn {
                                    font-weight: 700;
                                    color: $white;
                                    background: $purple;
                                    letter-spacing: -0.12px;
                                    &:hover {
                                        background: #8450E0;
                                    }
                                    &:active {
                                        background: #3D1682;
                                    }
                                }
                            }
                        }
                        .select-box {
                            position: relative;
                            width: 10rem;
                            height: 4.8rem;
                            z-index: 10;
                            cursor: pointer;
                            .select-item {
                                width: 100%;
                                height: 100%;
                                padding: 0;
                                font-family: $pretendard;
                                color: $gray06;
                                font-weight: 700;
                                font-size: 2rem;
                                border: none;
                                border-radius: .8rem;
                                background: $white;
                                @include flexbox(row, center, center);
                                gap: .3rem;
                                transition: background .25s;
                                &::after {
                                    content: '';
                                    display: inline-block;
                                    width: 2.4rem;
                                    height: 2.4rem;
                                    background: url(/assets/images/icon/ic_arrow.png) no-repeat center/contain;
                                    transition: all .25s;
                                }
                                &.on{
                                    &::after{
                                        transform: rotate(180deg);
                                    }
                                }
                                &:hover {
                                    background: #F6F6F6;
                                }
                                &:active {
                                    background: #E6E6E6;
                                }
                            }
                            .option-list {
                                position: absolute;
                                top: 5.2rem;
                                width: 100%;
                                border-radius: 0.8rem;
                                box-shadow: 0px 31px 38px 0px rgba(0, 0, 0, 0.07);
                                background: $white;
                                display: none;
                                li {
                                    width: 100%;
                                    height: 4.8rem;
                                    border-radius: 0.8rem;
                                    a {
                                        width: 100%;
                                        height: 100%;
                                        font-size: 2rem;
                                        font-weight: 500;
                                        color: $gray06;
                                        @include flexbox(row, center, center);
                                        border-radius: 0.8rem;
                                        transition: all .25s;
                                    }
                                    &:hover {
                                        a {
                                            background: #F6F6F6;
                                        }
                                    }
                                    &:active {
                                        a {
                                            background: #E6E6E6;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .con-wrap {
                    width: 100%;
                    // margin-top: 10rem;
                    margin-top: clamp(5rem, 5.2vw, 10rem);
                    @include flexbox(column, center, center);
                    h2 {
                        font-family: $LGEIHeadline;
                        font-weight: 800;
                        // font-size: 15rem;
                        font-size: clamp(12rem, 7.8vw, 15rem);
                        letter-spacing: -1.5px;
                    }
                    p {
                        // font-size: 2rem;
                        font-size: clamp(1.4rem, 1.1vw, 2rem);
                        text-align: center;
                        line-height: 1.4;
                    }
                    .bg-txt {
                        font-family: $LGEIHeadline;
                        // font-size: 40rem;
                        font-size: clamp(32rem, 21vw, 40rem);
                        font-weight: 700;
                        background: linear-gradient(#fff 20%, transparent 80%);
                        color: transparent;
                        background-clip: text;
                    }
                }
            }
            &.ai-quick-tools {
                background: url(/assets/images/common/ai-quick-tools-bg.png) no-repeat center/cover;
                .inner {
                    @include flexbox(row, center, center);
                    // gap: 7.9rem;
                    gap: clamp(4rem, 4.2vw, 7.9rem);
                    .info-wrap {
                        text-align: left;
                    }
                    .con-wrap {
                        position: relative;
                        // height: 60.7rem;
                        height: clamp(32rem, 31.6vw, 60.7rem);
                        @include flexbox(row, center, center);
                        gap: 1.2rem;
                        .animate-cursor {
                            position: absolute;
                            top: 0rem;
                            left: 12rem;
                            width: 12rem;
                            height: 12rem;
                            background: url(/assets/images/icon/ic-cursors.png) no-repeat center/contain;
                            z-index: 20;
                            &.click-motion {
                                animation: animateCursor .3s;
                            }
                        }
                        .left {
                            position: relative;
                            // width: 32.6rem;
                            width: clamp(17rem, 17vw, 32.6rem);
                            height: 100%;
                            border-radius: 1.2rem;
                            overflow: hidden;
                            .item {
                                width: 100%;
                                height: 100%;
                                background: url(/assets/images/common/ai_quick_tools_left.png) no-repeat center/cover;
                            }
                            &.motion {
                                .item {
                                    background: url(/assets/images/common/left_remove.png) no-repeat center/cover;
                                }
                            }
                        }
                        .right {
                            height: 100%;
                            @include flexbox(column, flex-start, flex-start);
                            gap: 1.2rem;
                            .right-top {
                                position: relative;
                                width: clamp(39rem, 39vw, 74.7rem);
                                height: 50%;
                                padding: 0 1rem;
                                border-radius: 1.2rem;
                                background: url(/assets/images/common/ai_quick_tools_top.png) no-repeat center/cover;
                                .drag-wrap {
                                    position: absolute;
                                    // top: 2vh;
                                    // top: 21px;
                                    top: 1vw;
                                    // top: 2vh;
                                    left: 43%;
                                    width: 0;
                                    height: 0;
                                    margin-bottom: 1rem;
                                    // border: 8px dashed #6624D9;
                                    border: 0.6vw dashed $purple;
                                    @include flexbox(row, center, center);
                                    opacity: 0;
                                    img {
                                        width: clamp(20rem, 21vw, 39.9rem);
                                        display: none;
                                        &.on {
                                            display: block;
                                        }
                                    }
                                    &.on {
                                        opacity: 1;
                                    }
                                }
                                .typing-wrap {
                                    position: absolute;
                                    bottom: 1vw;
                                    left: 43%;
                                    width: clamp(20rem, 21.2vw, 40.6rem);
                                    height: clamp(5rem, 5.5vw, 10.5rem);
                                    // padding: 34px 36px;
                                    // padding: 0 3.4rem;
                                    padding: 0 1.8vw;
                                    font-size: 3.2rem;
                                    font-weight: 700;
                                    color: #14072B;
                                    border: 2px solid #fff;
                                    border-radius: 14px;
                                    background: rgba(255,255,255,0.3);
                                    backdrop-filter: blur(5px);
                                    opacity: 0;
                                    @include flexbox(row, flex-start, center);
                                    &.on {
                                        opacity: 1;
                                        z-index: 10;
                                    }
                                    .typing-txt {
                                        display: none;
                                    }
                                    .typing {
                                        font-family: $LGEIHeadline;
                                        font-size: clamp(1.2rem, 1.6vw, 3.2rem);
                                        font-weight: 700;
                                        letter-spacing: -0.96px;
                                        // display: inline-block;
                                        display: flex;
                                        align-items: flex-start;
                                        animation: cursorTyping 0.7s infinite;
                                    }
                                    button {
                                        position: absolute;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        right: clamp(1rem, 1.8vw, 3.6rem);
                                        width: clamp(2rem, 3.2vw, 6rem);
                                        height: clamp(2rem, 3.2vw, 6rem);
                                        border-radius: 50%;
                                        border: none;
                                        background: url(/assets/images/icon/ic_arrow_up.png) no-repeat center/contain $purple;
                                    }
                                }
                                #realDragArea {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                }
                            }
                            .right-bottom {
                                width: clamp(39rem, 39vw, 74.7rem);
                                height: 50%;
                                .hide-bg {
                                    position: relative;
                                    width: 100%;
                                    height: 100%;
                                    .show-bg {
                                        position: relative;
                                        width: 60%;
                                        height: 90%;
                                        background: url(/assets/images/common/ai_quick_tools_bottom.png) no-repeat top left;
                                        border-radius: 0 0 12px 0;
                                        border-right: 8px solid #6624D9;
                                        border-bottom: 8px solid #6624D9;
                                    }
                                    .show-bg-on {
                                        position: absolute;
                                        top: -5%;
                                        left: -5%;
                                        width: 70%;
                                        height: 100%;
                                        border-radius: 0 0 12px 0;
                                        .circle {
                                            position: absolute;
                                            width: 32px;
                                            height: 32px;
                                            border-radius: 50%;
                                            background: #fff;
                                            border: 8px solid #6624D9;
                                            &.top {
                                                // right: 24px;
                                                right: 1.2vw;
                                                top: 0;
                                            }
                                            &.bottom-right {
                                                // right: 24px;
                                                right: 1.2vw;
                                                bottom: 4px;
                                            }
                                            &.bottom-left {
                                                // left: 24px;
                                                left: 1.2vw;
                                                bottom: 4px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .carrier {
                            position: absolute;
                            // bottom: 4.7rem;
                            // left: 15.6rem;
                            // bottom: 8%;
                            // bottom: 5.5vh;
                            top: 17%;
                            left: 14%;
                            width: clamp(24rem, 23.6vw, 45.4rem);
                            z-index: 12;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                    }
                }
            }
            &.digital-content-creator {
                .inner {
                    @include flexbox(column, flex-end, center);
                    .info-wrap {
                        text-align: center;
                    }
                    .con-wrap {
                        @include flexbox(row, center, center);
                        gap: 2.1rem;
                        padding: 8rem;
                        .animate-cursor {
                            position: absolute;
                            bottom: 0;
                            left: 38%;
                            width: 12rem;
                            height: 12rem;
                            background: url(/assets/images/icon/ic-cursors.png) no-repeat center/contain;
                            z-index: 20;
                            &.click-motion {
                                animation: animateCursor .3s;
                            }
                        }
                        .empty {
                            position: relative;
                            width: 40rem;
                            height: 34.9rem;
                            font-family: $LGEIHeadline;
                            font-size: 8rem;
                            font-weight: 700;
                            color: #9B9C9D;
                            border-radius: 1.4rem;
                            border: 6px dashed #9B9C9D;
                            background: #F6F6F6;
                            @include flexbox(row, center, center);
                            .empty-car {
                                position: absolute;
                                bottom: -40%;
                                left: -100%;
                                // left: -6px;
                                // top: -6px;
                                width: 40rem;
                                height: 34.9rem;
                                border-radius: 1.4rem;
                                background: #FF9559;
                                img {
                                    position: absolute;
                                    left: 0;
                                    bottom: 0;
                                }
                            }
                        }
                        .typing-wrap {
                            position: absolute;
                            bottom: 3rem;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 48.3rem;
                            height: 15rem;
                            padding: 3.3rem 3.6rem;
                            border-radius: 1.4rem;
                            border: 2px solid rgba(191, 191, 191, 0.94);
                            background: rgba(255, 255, 255, 0.30);
                            backdrop-filter: blur(6px);
                            opacity: 0;
                            &.on {
                                opacity: 1;
                                z-index: 10;
                            }
                            .typing-txt, .typing-txt02 {
                                display: none;
                            }
                            .typing, .typing02 {
                                font-family: $LGEIHeadline;
                                font-size: 3.2rem;
                                font-weight: 700;
                                letter-spacing: -0.96px;
                                line-height: 1.3;
                                display: inline-block;
                                &.on {
                                    animation: cursorTyping 0.7s infinite;
                                }
                            }
                            button {
                                position: absolute;
                                top: 50%;
                                right: 2.4rem;
                                transform: translateY(-50%);
                                width: 9.5rem;
                                height: 9.5rem;
                                border-radius: 50%;
                                border: none;
                                background: url(/assets/images/icon/ic_arrow_diagonal.png) no-repeat center/contain $purple;
                                // &.blink {
                                //     animation: blink 1s infinite;
                                // }
                            }
                        }
                        .flower-car {
                            position: relative;
                            width: 63.2rem;
                            height: 34.9rem;
                            display: none;
                            &.on {
                                display: block;
                            }
                            .drag-wrap {
                                position: absolute;
                                left: 44%;
                                top: 34%;
                                // width: 20.3rem;
                                // height: 15.1rem;
                                width: 0;
                                height: 0;
                                border: 8px dashed $purple;
                                z-index: 10;
                                display: none;
                                &.on {
                                    display: block;
                                }
                            }
                            img {
                                position: absolute;
                                top: 0;
                                left: 0;
                                animation: all 1s;
                                &.flower-img {
                                    opacity: 1;
                                }
                                &.bag-img {
                                    opacity: 0;
                                }
                            }
                        }
                        .bag-typing-wrap {
                            position: absolute;
                            right: 25%;
                            bottom: 5%;
                            width: 39.9rem;
                            height: 7.9rem;
                            border-radius: 1.4rem;
                            background: $white;
                            @include flexbox(row, center, center);
                            gap: 8px;
                            box-shadow: 0px 2px 6px 0px rgba(184, 191, 206, 0.40);
                            opacity: 0;
                            &.on {
                                opacity: 1;
                            }
                            .typing-txt {
                                display: none;
                            }
                            .txt-box {
                                width: 24.7rem;
                                height: 5.5rem;
                                border-radius: 8px;
                                border: 1px solid #E6E6E6;
                                .typing {
                                    margin: 1.6rem;
                                    font-family: $LGEIHeadline;
                                    font-size: 2rem;
                                    font-weight: 700;
                                    display: inline-block;
                                    animation: cursorTyping 0.7s infinite;
                                }
                            }
                            button {
                                width: 12rem;
                                height: 5.5rem;
                                color: $white;
                                font-size: 2rem;
                                letter-spacing: -0.12px;
                                border-radius: 8px;
                                border: none;
                                background: #3D1682;
                                // &.blink {
                                //     animation: blink .25s infinite;
                                // }
                            }
                        }
                    }
                }
            }
            &.ads-creator {
                background: #F2F2F2;
                .inner {
                    @include flexbox(column, space-between, center);
                    // gap: 4.2rem;
                    // padding-bottom: 2rem;
                    padding: 2rem 0;
                    .info-wrap {
                        text-align: center;
                    }
                    .flow-banner {
                        position: relative;
                        width: 100%;
                        height: calc(100% - 23.2rem);
                        // height: auto;
                        // height: 45rem;
                        // overflow: hidden;
                        display: flex;
                        align-items: flex-end;
                        background: transparent;
                        .list {
                            height: 100%;
                            @include flexbox(row, center, flex-end);
                            li {
                                white-space: nowrap;
                                // width: 100%;
                                // height: 100%;
                                max-height: 100%;
                                padding: 0;
                                // margin: 0 0.7rem;
                                margin: 0 0.34vw;
                                @include flexbox(row, flex-end, flex-end);
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                }
                                &.flow-item01 {
                                    width: 33.2rem;
                                    // width: 17.3vw;
                                    // width: clamp(10rem,17.3vw,33.2rem);
                                    // height: 50.6rem;
                                    height: 100%;
                                    // height: 26.05vw;
                                    // max-height: 100%;
                                }
                                &.flow-item02 {
                                    width: 50.8rem;
                                    // width: 26.08vw;
                                    // height: 26.5rem;
                                    height: 52.9%;
                                    // height: 13.8vw;
                                }
                                &.flow-item03 {
                                    width: 33.9rem;
                                    // height: 41.3rem;
                                    height: 82.4%;
                                }
                                &.flow-item04 {
                                    width: 30.7rem;
                                    height: 20.8rem;
                                }
                                &.flow-item05 {
                                    width: 28.9rem;
                                    // height: 50.8rem;
                                    height: 100%;
                                }
                                &.flow-item06 {
                                    width: 50.8rem;
                                    height: 26.5rem;
                                }
                                &.flow-item07 {
                                    width: 28.9rem;
                                    // height: 50.8rem;
                                    height: 100%;
                                }
                                &.flow-item08 {
                                    width: 30.7rem;
                                    height: 20.8rem;
                                }
                                &.flow-item09 {
                                    width: 33.9rem;
                                    height: 41.3rem;
                                }
                            }
                        }
                    }
                }
            }
            &.re-generator {
                background: $black;
                .inner {
                    width: calc(100% - 2rem);
                    margin: 0 auto;
                    @include flexbox(row, center, flex-start);
                    .con-wrap {
                        position: relative;
                        width: calc(100% - 2rem);
                        max-width: 1521px;
                        height: calc(100% - 2rem);
                        max-height: 723px;
                        @include flexbox(row, center, center);
                        gap: 0;
                        border-radius: 2rem;
                        overflow: hidden;
                        .left {
                            width: 50%;
                            height: 100%;
                            background: url(/assets/images/common/generator_left_bg.png) no-repeat right;
                            .seed-image {
                                width: 18rem;
                                height: 6rem;
                                margin: 2.4rem;
                                border-radius: 1.4rem;
                                @include flexbox(row, center, center);
                                border: 2px solid rgba(191, 191, 191, 0.94);
                                background: rgba(255, 255, 255, 0.30);
                                backdrop-filter: blur(6px);
                            }
                        }
                        .right {
                            position: relative;
                            width: 50%;
                            height: 100%;
                            background: url(/assets/images/common/generator_bg01.png) no-repeat left;
                            .generator {
                                position: absolute;
                                top: -100%;
                                left: 0;
                                transform: translateY(-50%);
                            }
                        }
                        .info-wrap {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
            &.campaign-optimizer {
                .inner {
                    @include flexbox(row, space-between, flex-end);
                    padding: 0 10rem;
                    .info-wrap {
                        @include flexbox(column, flex-start, flex-start);
                        height: 100%;
                        padding-top: 9.6rem;
                        p {
                            margin: 2.4rem 0 4rem;
                            line-height: 1.4;
                        }
                    }
                    > .con-wrap {
                        width: 108.8rem;
                        height: 58.7rem;
                        background: url(/assets/images/common/campaign_optimizer_bg.png) no-repeat center/contain;
                        .graph {
                            position: absolute;
                            min-width: 27.2rem;
                            min-height: 22.7rem;
                            padding: 1.8rem 2.8rem 3.2rem 1.5rem;
                            border-radius: 0.47rem;
                            background: $white;
                            box-shadow: 40px 31px 38px 0px rgba(0, 0, 0, 0.15);
                            > .tit {
                                font-size: 1.3rem;
                                font-weight: 700;
                                letter-spacing: -0.078px;
                                margin-bottom: 2.9rem;
                                color: $black;
                            }
                            > .con-wrap {
                                @include flexbox(row, space-between, center);
                                .num-wrap {
                                    ul {
                                        @include flexbox(column, center, center);
                                        gap: 2.4rem;
                                        li {
                                            @include flexbox(column, center, flex-start);
                                            gap: 0.6rem;
                                            > span {
                                                font-size: 0.7rem;
                                                color: #68696A;
                                            }
                                            strong {
                                                font-size: 1.4rem;
                                                font-weight: 500;
                                                span {
                                                    font-size: 2.4rem;
                                                    font-weight: 800;
                                                }
                                            }
                                            &:first-child {
                                                > span {
                                                    &::before {
                                                        content: '';
                                                        display: inline-block;
                                                        width: 7px;
                                                        height: 7px;
                                                        border-radius: .24rem;
                                                        margin-right: .35rem;
                                                    }
                                                }
                                            }
                                            &:last-child {
                                                > span {
                                                    &::before {
                                                        content: '';
                                                        display: inline-block;
                                                        width: 7px;
                                                        height: 7px;
                                                        border-radius: .24rem;
                                                        margin-right: .35rem;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .chart-wrap {
                                    position: relative;
                                    span {
                                        position: absolute;
                                        top: 53%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        font-size: 1.3rem;
                                        font-weight: 700;
                                        letter-spacing: -0.078px;

                                    }
                                }
                            }
                            &.type01 {
                                left: -11rem;
                                bottom: 1.3rem;
                                > .con-wrap {
                                    .num-wrap {
                                        ul {
                                            li {
                                                &:first-child {
                                                    > span {
                                                        &::before {
                                                            background: #FF9559;
                                                        }
                                                    }
                                                }
                                                &:last-child {
                                                    > span {
                                                        &::before {
                                                            background: #FFD56A;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            &.type02 {
                                left: 4.5rem;
                                bottom: 6.5rem;
                                > .con-wrap {
                                    .num-wrap {
                                        ul {
                                            li {
                                                &:first-child {
                                                    > span {
                                                        &::before {
                                                            background: #775FFC;
                                                        }
                                                    }
                                                }
                                                &:last-child {
                                                    > span {
                                                        &::before {
                                                            background: #6AD2FF;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .total {
                            position: absolute;
                            right: -6rem;
                            top: 11.7rem;
                            width: 30rem;
                            height: 17.7rem;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            padding: 1.8rem 3rem 2rem 2.8rem;
                            background: $white;
                            border-radius: .8rem;
                            box-shadow: 40px 31px 38px 0px rgba(0, 0, 0, 0.15);
                            .tit {
                                font-size: 2.2rem;
                                font-weight: 700;
                                letter-spacing: -0.132px;
                                @include flexbox(row, flex-start, center);
                                gap: 0.8rem;
                                margin-bottom: 4.1rem;
                                &::before {
                                    content: '';
                                    display: inline-block;
                                    width: 2rem;
                                    height: 2rem;
                                    background: url(/assets/images/icon/ic_checkbox.png) no-repeat center/contain;
                                }
                            }
                            .count {
                                text-align: right;
                                strong {
                                    font-size: 4rem;
                                    font-weight: 500;
                                    span {
                                        font-size: 6rem;
                                        font-weight: 800;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .apply {
        background: $purple;
        .inner {
            padding: .8rem 0 .8rem 10%;
            @include flexbox(row, center, center);
            gap: 4rem;
            .txt-wrap {
                @include flexbox(column, center, center);
                gap: 1.4rem;
                .tit {
                    font-size: 3rem;
                    color: #E9DDFF;
                    letter-spacing: -0.3px;
                    strong {
                        color: #F1E9FF;
                        font-weight: 700;
                    }
                }
                .contact {
                    color: $white;
                    font-size: 2rem;
                    font-weight: 500;
                    letter-spacing: -0.2px;
                    a {
                        color: #BDFF00;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

footer {
    background: #343435;
    .inner {
        padding: 4rem 10rem;
        @include flexbox(row, space-between, center);
        .left {
            @include flexbox(row, flex-start, center);
            gap: 4.3rem;
            .info-wrap {
                ul {
                    @include flexbox(row, flex-start, center);
                    gap: 21px;
                    margin-bottom: .8rem;
                    li {
                        position: relative;
                        color: $white;
                        font-weight: 700;
                        font-size: 1.6rem;
                        letter-spacing: -0.16px;
                        &:first-child {
                            &::after {
                                content: '';
                                display: inline-block;
                                width: 1px;
                                height: 14px;
                                background: #9B9C9D;
                                margin-left: 20px;
                            }
                        }
                    }
                }
                p {
                    color: $white;
                    font-size: 1.6rem;
                    letter-spacing: -0.16px;
                }
            }
        }
        .right {
            .contact {
                padding: 1.2rem 2rem;
                border-radius: 1.2rem;
                background: rgba(255, 255, 255, 0.10);
                span {
                    color: $white;
                    font-size: 1.6rem;
                    letter-spacing: -0.16px;
                    opacity: 0.6;
                }
                p {
                    margin-top: .6rem;
                    color: $white;
                    font-size: 1.6rem;
                    a {
                        color: $white;
                        font-size: 2rem;
                        font-weight: 700;
                        letter-spacing: -0.2px;
                    }
                }
            }
        }
    }
}

.menu-list {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 10rem);
    max-width: 100rem;
    height: 11.8rem;
    margin: 0 auto;
    z-index: 888;
    ul {
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        backdrop-filter: blur(5px);
        background: rgba(5, 6, 9, 0.70);
        @include flexbox(row, center, center);
        li {
            position: relative;
            a {
                font-family: $LGEIHeadline;
                color: $white;
                font-size: 1.6rem;
                font-weight: 600;
                text-align: center;
                padding: 0 4.8rem;
                @include flexbox(column, center, center);
            }
            &:not(:last-child) {
                a {
                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        width: 1px;
                        height: 6rem;
                        background: rgba(255, 255, 255, 0.30);
                    }
                }
            }
        }
    }
}